<div class="admin-edit">
    <div class="all-user">发布文章</div>
    <style>
        .one-edit{
            margin:15px 0;
        }
        .one-edit>span,.one-edit input{
            display:block;
            font-size:14px;
            color:#000;
        }
        .one-edit>span{
            margin:5px 5px;
        }
        .one-edit input{
            margin:5px 0;
        }
        .one-edit textarea{
            display:block;
            width:100%;
        }
        .one-edit a.layui-btn{
            height: 35px;
            line-height: 35px;
            padding: 0 25px;
        }
    </style>
    <div class="edit-content">
        <div class="one-edit">
            <span>文章标题</span>
            <input type="text" id="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="one-edit">
            <span>发布作者</span>
            <input type="text" id="user" placeholder="请输入作者" autocomplete="off" class="layui-input">
        </div>
        <div class="one-edit">
            <span>文章正文</span>
            <textarea id="textarea"></textarea>
        </div>
        <div class="one-edit">
            <span>选择分类</span>
            <div id="sel"></div>
        </div>
        <div class="one-edit" style="text-align:center;">
            <a class="layui-btn" id="save">保存</a>
        </div>
    </div>
</div>
<script>
    $(function(){
        var editor = home.editor('textarea',400);
        var typeSel = new WM.checkBox({
            id:'sel',
            group:['杂谈','心情驿站'],
            notNull:true,
            multiple:false
        });
        $('#save').on('click',function(){
            var layer = layui.layer;
            var title = $.trim($('#title').val());
            var user = $.trim($('#user').val());
            var text = editor.getContent(editor.index);
            var type = typeSel.getCheck();
            if(title.length==0)
                return layer.msg('请输入标题',{offset:'t',icon:5,area:['400px','auto']});
            if(text.length==0)
                return layer.msg('请输入正文',{offset:'t',icon:5,area:['400px','auto']});
            if(type==null)
                return layer.tips('请选择类型',$('#sel'),{tips:[1,'#ffa200']});
            var time = new Date().getTime();
            var data = {
                title:title,
                user:user,
                text:text,
                type:type.value[0],
                time:time
            };
            home.ajax.admin_edit(data,function(){
                window.location.href = '/admin-skills';
            },function(errorMsg){
                layer.msg(errorMsg||'保存失败，请重试');
            })
        })
    });
</script>