*{margin:0;padding:0;font-size:12px;font-family:"Microsoft YaHei";font-style:normal;font-weight:normal;}
li{list-style:none;}
a{text-decoration:none;}
input,textarea,select{outline:0 none;}
img{border:0 none;}
/* 图标字图 */
@font-face {font-family: "iconfont";
    src: url('./font/iconfont.eot?t=1500457802653'); /* IE9*/
    src: url('./font/iconfont.eot?t=1500457802653#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/iconfont.woff?t=1500457802653') format('woff'), /* chrome, firefox */
    url('./font/iconfont.ttf?t=1500457802653') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./font/iconfont.svg?t=1500457802653#iconfont') format('svg'); /* iOS 4.1- */
}
.W_clear:before,.W_clear:after{
    content:'\20';
    display:block;
    height:0;
}
.W_clear:after{clear: both;}
.W_clear{*zoom:1;}
.W_IconFont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 单选复选 */
.W_check_icon:before { content: "\e654"; }
.W_check{
    display:inline-block;
    vertical-align:middle;
    border:1px solid #999;
    border-radius:4px;
    -webkit-border-radius:2px;
    overflow:hidden;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    cursor:pointer;
    margin-right:10px;
    /*margin-bottom:10px;*/
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
}
.W_check.W_check_disabled{
    opacity:0.5;
    cursor:not-allowed;
}
.W_check.W_checked{
    border:1px solid #5FB878;
    animation:scale 0.5s;
    -webkit-animation:scale 0.5s;
    -moz-animation:scale 0.5s;
    -o-animation:scale 0.5s;
}
@keyframes scale {
    0%{
        transform:scale(0.98);
    }
    100%{
        transform:scale(1);
    }
}
@-webkit-keyframes scale {
    0%{
        -webkit-transform:scale(0.98);
    }
    100%{
        -webkit-transform:scale(1);
    }
}
@-moz-keyframes scale {
    0%{
        -moz-transform:scale(0.98);
    }
    100%{
        -moz-transform:scale(1);
    }
}
@-o-keyframes scale {
    0%{
        -o-transform:scale(0.98);
    }
    100%{
        -o-transform:scale(1);
    }
}
.W_check span{
    display:block;
    float:left;
    height:32px;
    line-height:32px;
    text-align:center;
    font-size:14px;
}
.W_check .W_check_text{
    padding:0 8px;
    background:#999;
    color:#fff;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    -o-transition:all 0.2s;
}
.W_check.W_checked .W_check_text{
    background:#5FB878;
}
.W_check .W_check_icon{
    width:32px;
    background:#fff;
    color:#999;
}
.W_check.W_checked .W_check_icon{
    color:#5FB878;
}
/* select */
.W_selectBox{
    position:relative;
    width:100%;
    min-width:240px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    cursor:pointer;
}
.W_select{
    width:100%;
    height:35px;
    line-height:35px;
    position:relative;
    background:#fff;
    border:1px solid #999;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
}
.W_select.W_select_locked{background:#f2f2f2;cursor:not-allowed;}
.W_select_title{
    padding:0 40px 0 8px;
}
.W_select_title span{
    display:block;
    line-height:35px;
    font-size:14px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.W_select_air{
    width:35px;
    height:35px;
    position:absolute;
    top:0;right:0;
    overflow:hidden;
}
.W_select_air span{
    display:block;
    width: 0;
    height: 0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:8px solid #999;
    position:absolute;
    top:0;left:0;right:0;
    bottom:0;margin:auto;
    transition:all 0.4s;
}
.W_option{
    width:100%;
    border:1px solid #999;
    position:absolute;
    left:0;top:40px;
    padding:8px 0;
    border-radius:2px;
    -webkit-border-radius:2px;
    max-height:350px;
    overflow-y:auto;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    background:#fff;
    z-index:20;
    display:none;
}
.W_option_one{
    padding:0 8px;
}
.W_option_one:hover{
    background:#f2f2f2;
}
.W_option_one span{
    display:block;
    height:35px;
    line-height:35px;
    font-size:14px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.W_option_checked.W_option_one{
    background:#5FB878;
}
.W_option_disabled.W_option_one span{
    color:#d2d2d2;
}
.W_option_disabled.W_option_one:hover{
    background:#fff;
    cursor:not-allowed;
}
.W_option_checked.W_option_one span{color:#fff;}
.W_select_open .W_select_air span{
    transform:rotate(180deg);
}
.W_select_close .W_select_air span{
    transform:rotate(0deg);
}
.W_select_open .W_option{
    animation:moveOpen 0.2s;
}
.W_select_close .W_option{
    animation:moveClose 0.2s;
}
@keyframes moveOpen {
    0%{
        transform:translate3d(0,20px,0);
        opacity:0;
    }
    100%{
        transform:translate3d(0,0,0);
        opacity:1;
    }
}
@keyframes moveClose {
    0%{
        transform:translate3d(0,0,0);
        opacity:1;
    }
    100%{
        transform:translate3d(0,20px,0);
        opacity:0;
    }
}
/* 分组 */
.W_group_title{
    height:35px;
    line-height:35px;
    padding-left:8px;
    font-size:14px;
    color:#999;
    cursor:default;
}
.W_option .W_option_group .W_option_one{padding:0 15px;}