@charset "utf-8";
/* layout */
.header{
    width:100%;
    height:50px;
    background:#eee;
    line-height:50px;
    position:fixed;
    top:0;left:0;
    z-index:999999;
}
.header-item{
    width:1000px;
    margin:0 auto;
    position:relative;
}
.header-item a{
    display:block;
    float:left;
    position:relative;
}
.header-login{
    position:absolute;
    top:0;right:0;
}
.header-nav a{
    padding:0 20px;
}
.header-login a{
    padding:0 5px;
}
.header-login img{
    display:block;
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
    float:left;
    margin-top:5px;
    margin-right:5px;
}
.header-login a.login-icon{
    font-size:18px;
    color:#009688;
}
.header-nav a::before{
    content: '';
    position:absolute;
    left: -1px;
    width:80%;
    padding: 0 1px;
    height: 0;
    background-color: #5FB878;
}
.header-nav a.header-current::before{
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    height: 3px;
}
.content{
    margin-top:50px;
    padding-bottom:50px;
}
.footer{
    height:50px;
    line-height:50px;
    text-align:center;
    min-width:1000px;
}
.blog-btn{
    display: inline-block;
    padding: 6px 25px;
    margin-bottom:0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.ellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.page{margin-top:20px;text-align:center;}
.blog-layer .layui-layer-btn .layui-layer-btn1{
     background:#009688;
     border:1px solid #009688;
     color:#fff;
     font-size:13px;
 }
.blog-layer .layui-layer-btn .layui-layer-btn0{
    background:#ccc;
    border:1px solid #ccc;
    color:#fff;
    font-size:13px;
}
.register{
    margin:10px 0;
}
.register span{
    display:block;
}
.upload-box{
    width:60px;
    height:60px;
    position:relative;
    border:1px solid #e6e6e6;
}
.file-box{
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    z-index:1;
}
.file-box>i,.file-box .file{
    display:block;
}
.file-box>i,.wait>i{
    width:100%;
    height:100%;
    text-align:center;
    line-height:60px;
    position:absolute;
    top:0;left:0;
    right:0;bottom:0;
    margin:auto;
    color:#aaa;
    font-size:25px;
    z-index:2;
}
.file-box .file{
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    z-index:20;
    font-size:0;
    opacity:0;
    cursor:pointer;
}
.img-box{
    width:100%;
    height:100%;
    position:relative;
    z-index:30;
}
.img-box img{
    display:block;
    width:100%;
    height:100%;
}
.img-box i{
    display:block;
    position:absolute;
    top:-5px;right:-20px;
    font-size:18px;
    color:#ff5722;
    cursor:pointer;
}
.wait{
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    z-index:100;
    background:#fff;
}
.upload-btn{
    display:block;
    position:absolute;
    bottom:0;right:-50px;
}
.blog-layer .layui-layer-btn .layui-layer-btn1.btn-disabled{
    background: #999;
    border:1px solid #999;
    color: #fff;
}
/* 首页 */
.blog-logo{
    width:100%;
    height:300px;
    min-width:1000px;
    background:#000 url('/images/night.gif') repeat;
}
.blog-content{
    width:1000px;
    margin:0 auto;
    font-size:16px;
}
.blog-title{
    padding:20px 0;
}
.blog-title .title{
    font-size:26px;
    font-weight:300;
}
.small-title{
    padding:5px 0;
    text-align:right;
}
.small-title span{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    margin-right:10px;
}
.blog-editor{margin-top:30px;}
.blog-editor textarea{
    display:block;
    width:100%;
}
.blog-btn-box{
    margin:10px 0 30px 0;
    text-align:right;
}
.blog-one-user{
    position:relative;
    padding:35px 0;
    border-bottom:1px dotted #ddd;
}
.one-user-l{
    width:50px;
    position:absolute;
    left:0;top:50%;
    margin-top:-25px;
}
.one-user-l img,.one-user-l span{
    display:block;
    margin:0 auto;
}
.one-user-l img{
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.one-user-l span{
    font-size:12px;
    text-align:center;
    margin-top:2px;
    color: #696969;
}
.one-user-r{
    padding:0 0 0 70px;
}
.one-user-title{
    padding-bottom:5px;
    position:relative;
}
.one-user-title span{
    display:inline-block;
    vertical-align:middle;
    color:#4EBBF9;
    margin-right:10px;
}
.user-time{
    font-size:14px;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
.one-user-con{
    font-size:14px;
}
/* skill */
.skill-content{
    width:1000px;
    margin:0 auto;
}
.one-content{
    position: relative;
    padding:20px 0;
    border-bottom: 1px dotted #ddd;
}
.one-title{
    font-size:20px;
    font-weight:300;
    padding-right:240px;
}
.one-time{
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
.one-time span{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
}
.one-time .time{margin-left:10px;}
.one-content a{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    z-index:30;
}
.index_no_data{
    margin:80px auto;
    width:90px;
    height:90px;
    text-align:center;
}
.index_no_data i,.index_no_data span{
    display:block;
    margin:10px 0;
}
.index_no_data i{
    font-size:50px;
}
.index_no_data span{
    font-size:16px;
}