<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/home-style.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/layer/layer.js"></script>
</head>
<body>
我是后台登陆页面
</body>
</html>